@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

@import "bootstrap";
@import "font-awesome";
@import "rails_bootstrap_forms";

body {
  font-family: "Nunito";
}

a.new,
a.edit,
a.delete {
  @extend .btn;

  &:before {
    font-family: "FontAwesome";
    padding-right: 0.5em;
  }
}

a.new {
  @extend .btn-success;

  &:before {
    @extend .fa-plus;
  }
}

a.edit {
  @extend .btn-primary;

  &:before {
    @extend .fa-pencil;
  }
}

a.delete {
  @extend .btn-danger;

  &:before {
    @extend .fa-trash;
  }
}

.alert-notice {
  @extend .alert-success;
}

.alert-alert {
  @extend .alert-danger;
}
